src/obj/*.o
examples/cpuid/*.o
examples/cpuid/*.exe
examples/cpuid/result/*.o
src/tmp.o
src/tmp.s
tests/output/test32.o
tests/output/test32.s
tests/output/test64.o
tests/output/test64.s
tests/test32.exe
tests/test64.exe
VisualStudio2017/test32/.vs
VisualStudio2017/test32/test32.vcxproj.filters
VisualStudio2017/test32/test32.vcxproj.user
VisualStudio2017/test64/.vs/
VisualStudio2017/test64/Debug/
VisualStudio2017/test64/test64.vcxproj.filters
VisualStudio2017/test32/Debug
examples/clflush/gen_clflush.exe
examples/clflush/main.o
examples/clflush/result/clflush_func.o
examples/fpuconst/generate.exe
examples/fpuconst/generate.o
examples/fpuconst/result/fpuconst.o
