doc/html
src/obj/*.o
src/main.cpp
src/main.exe
src/tmp.o
src/tmp.s
tests/output/test32.o
tests/output/test64.o
tests/test32.exe
tests/test64.exe
VisualStudio2017/test32/.vs
VisualStudio2017/test32/x64
VisualStudio2017/test32/test32.vcxproj.filters
VisualStudio2017/test32/test32.vcxproj.user
VisualStudio2017/test64/.vs/
VisualStudio2017/test64/x64
VisualStudio2017/test64/Debug/
VisualStudio2017/test64/test64.vcxproj.filters
VisualStudio2017/test32/Debug
examples/cpuid/*.o
examples/cpuid/*.exe
examples/fpuconst/*.o
examples/fpuconst/*.exe
examples/clflush/*.o
examples/clflush/*.exe
examples/rdtsc/*.o
examples/rdtsc/*.exe
examples/xorshift-rng/*.o
examples/xorshift-rng/*.exe
examples/xorshift-rng-2/*.o
examples/xorshift-rng-2/*.exe
examples/thousand-nops/*.o
examples/lea-arithm/*.exe
examples/lea-arithm/*.o
examples/thousand-nops/*.exe
examples/rc4/*.exe
examples/rc4/*.o
